.subpage_container {
    width:1300px;
    min-height: 100vh; 
    overflow: auto;
    padding: 20px;
}

.subpage_content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 800px;
  padding: 10px 200px;
}



.group_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.group_info {
  flex: 2;
  margin-left: 60px;
}

.group_info h2 {
  margin-bottom: 10px;
}

.group_desc {
  margin-top: 10px;
  color: #555;
}


.subpage_login {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.subpage_button{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 10px;
 
}

.subpage_back{
  margin-top: 30px;
  text-align: center;
}