.alert_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_modal {
  background: white;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.alert_container {
  display: flex;
  flex-direction: column;
  gap:12px;
  align-items: center;
}

.alert_list {
  width: 100%;
  margin: 20px 0;
}

.alert_item {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 12px 16px;
  margin: 0 0 15px;
  font-size: 15px;
}

.alert_buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

}

.alert_footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.alert_empty {
  text-align: center;
  color: #777;
  font-size: 14px;
}