.Groupinfo > section >textarea{
    background-color: rgb(236,236,236);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width:600px;
    padding:20px;
    
    min-height:200px;
    resize:none;
    box-sizing: border-box;
}

.buttons{
    display:flex;
    
    gap: 30px;
}   