.Header{
    display: flex;
    align-items:center;
    padding:20px 100px;
    justify-content: center;
    flex-shrink: 0;
    
}

.Header>div{
    display: flex;
}

.Header .Header_main{
   
    width:auto;
    font-size:96px;
    justify-content:center;
}

.Header .Header_image{

    height:113px;
    justify-content:center;
    cursor:pointer;

}