@font-face{
    font-family: "Karma";
    src: url("/public/Karma/Karma-Regular.ttf")
}


body{
    display:flex;
}

body * {
    font-family:"inter"
}

#root{
    background-color: white;
    width:100%;
    margin:0 auto;
    /* padding: 0px 20px; */
}
/* 음영 넣기 box-shadow: rgba(100,100,100,0.2) 0px 0px 29px 0px;*/